@font-face {
    font-family: Caveat;
    src: url(fonts/Caveat-VariableFont_wght.ttf);
}

:root {
    /* Colors: https://www.color-hex.com/color-palette/5543 */
    --cafe-dark-grey: #6d6666;
    --cafe-grey: #b4adad;
    --cafe-bright: #eedab5;
    --cafe-brown: #855b5b;
    --cafe-dark-brown: #362323;
}

* {
    margin: 0;
    font-family: Caveat, 'Courier New', Courier, monospace;
}

body {
    background-color: var(--cafe-brown);
}

.underline {
    border-bottom: 1px solid red;
}

.highlight {
    background-color: yellow;
}

.text-red {
    color: red;
}

/* header */

header {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(imgs/intro_img.JPG);
    background-repeat: no-repeat;
    padding-bottom: 400px;
}

#title {
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title h1 {
    font-size: 40px;
    font-weight: bold;
}

#title p {
    font-size: 30px;
    font-weight: lighter;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 30px 0;
    background-color: var(--cafe-bright);
    width: 70%;
}

#intro-img img {
    width: 140px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 20px -10px var(--cafe-dark-brown);
}

#intro-text {
    width: 80%;
    text-align: justify;
    font-size: 25px;
}

/* main */

main {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

main section {
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    background-color: whitesmoke;
}

.section-img {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-img img {
    width: 80%;
}

main p {
    font-size: 20px;
}

main i {
    color: red;
}

/* Footer */

footer {
    margin-top: 20px;
    background-color: var(--cafe-dark-brown);
    color: white;
    padding: 10px;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

#contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}